    <h2><%= post.name %></h2>

    <p><%= post.content %></p>

    <% if post.category %>
        <p>Catégorie : <%= post.category.name %></p>
    <% end %>

    <% if !post.tags.empty? %>
    <p>Tags :
        <%= post.tags.each do |tag| %>
            <%= tag.name %>
        <% end %>
    </p>
    <% end %>

    <p>
        <a href="<%= post_path(post.id)%>" class="btn btn-primary">Lire la suite</a>
        <a href="<%= edit_post_path(post.id)%>" class="btn btn-warning">Editer</a>
        <a href="<%= post_path(post.id)%>" class="btn btn-danger" data-confirm="Etes-vous sur ?" data-method="DELETE">Supprimer</a>
    </p>
