    <h2><%= post.name %></h2>

    <p><%= post.content %></p>

    <% if post.category %>
        <p>Catégorie : <%= post.category.name %></p>
    <% end %>

    <% if !post.tags.empty? %>
        <p>Tags :
            <%= post.tags.map(&:name).join(', ') %>
        </p>
    <% end %>

    <p>
       <%= link_to('Lire la suite', post, class: 'btn btn-primary') %>
       <%= link_to('Edit', [:edit, post], class: 'btn btn-default') %>
       <%= link_to('Supprimer', post, class: 'btn btn-danger', data: {confirm: 'êtes-vous sur ?', method: :delete}) %>
    </p>
