<h1>Editer l'article</h1>

<% if @post.invalid? %>
<div class="alert alert-danger">
    <% @post.errors.full_messages.each do |message| %>
        <%= message %>
    <% end %>
</div>
<% end %>

<%= form_for @post do |f| %>

    <div class="form-group">
        <label>Titre de l'article</label>
        <%= f.text_field :name, class: 'form-control'%>
    </div>
    <div class="form-group">
        <label>Url de l'article</label>
        <%= f.text_field :slug, class: 'form-control'%>
    </div>
    <div class="form-group">
        <label>Contenu de l'article</label>
        <%= f.text_area :content, class: 'form-control' %>
    </div>
<div class="form-group"><button type="submit" class="btn btn-primary">Modifier l'article</button></div>
<% end %>
